* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f0f2f5;
  height: 100vh;
}

.chat-app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.user {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.user:hover,
.user.active {
  background: #f0f2f5;
}

.user img {
  border-radius: 50%;
}

.user h4 {
  font-size: 14px;
}

.user p {
  font-size: 12px;
  color: gray;
}

/* Chat Area */
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #ddd;
}

/* Messages */
.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 18px;
  font-size: 14px;
}

.received {
  background: #ffffff;
  align-self: flex-start;
}

.sent {
  background: #4f46e5;
  color: white;
  align-self: flex-end;
}

/* Input */
.chat-inpugit t {
  display: flex;
  padding: 15px;
  background: white;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 50%;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}
